.sidebar {
  max-width: 250px;           
  height: 100vh;           
  position: fixed;         
  top: 0;
  left: 0;
  background-color: #1a202c; 
  z-index: 1000;          
}


.nav-link {
    border-radius: 8px;    
    margin-bottom: 5px;
    transition: all 0.3s;  
}

.nav-link:hover {
    background-color: #2d3748;
    transform: translateX(5px);
}

.active-link {
    background-color: #3182ce !important; 
    font-weight: bold;
}


:root {
  --sidebar-width: 250px; 
  --topbar-height: 60px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f4f6f9; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden; 
}


.app-container {
  display: flex;
  height: 100vh; 
  width: 100vw;
  padding: 15px;
}


.sidebar-wrapper {
  width: var(--sidebar-width);
  height: 100%;
  background-color: #1a202c; 
  padding: 5px;
  color: white;
  border-radius: 6px;
  flex-shrink: 0; 
  overflow-y: auto; 

}


.main-wrapper {
  flex-grow: 1; 
  display: flex;
  flex-direction: column; 
  height: 100%;
  overflow: hidden; 
}


.content-area {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto; 
  background-color: #f4f6f9;
}

.nav-link.active {
  background-color: #2d3748;
  font-weight: bold;
}
